@define-color background #282A2E; /* #1a1b26; */
@define-color foreground #C5C8C6;
@define-color focused #fc893a; /* #bb9af7; */
@define-color unfocused #edf0ef; /* #c0caf5; */
@define-color occupied #F0C674; /* #565f89; */
@define-color urgent #f7768e;

* {
  font-family: IosevkaTerm Nerd Font;
  font-size: 24px;
  min-height: 0px;
}

window#waybar {
  color: @foreground;
  background: @background;
}

#workspaces button {
  padding: 2 14px;
  color: @unfocused;
  border-radius: 0px;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: inherit;
}

#workspaces button.occupied {
  color: @occupied;
  font-weight: bold;
}

#workspaces button.focused {
  color: @focused;
}

#workspaces button.urgent {
  color: @urgent;
}

#network {
  color: @focused;
}

.modules-left {
  margin: 0px 0 0 0px;
}

.modules-right {
  margin: 0px 0 0 0px;
}

#workspaces {
  padding-right: 10px;
  margin-left: 10px;
}

#tray,
#battery,
#network,
#custom-clock {
  padding: 0px 8px;
}
